@using MobileReviewsProject.Models.Admin
@model EditDevice
@{
    var priceInUsd = Convert.ToInt32(Model.PriceinUsd.Replace("$", ""));
}

<h3 >Edit Device</h3>
<form asp-action="EditDevice" method="post" enctype="multipart/form-data" class="device-form" >

    <input asp-for="ProductId" hidden />
    <input asp-for="ImageUrl" hidden />

    <div class="device-info">

        <div class="device-input">
            <div>
                <label asp-for="Slug"></label>
                <br />  
                <input asp-for="Slug" type="text"/>
            </div>
            
            <div>
                <label asp-for="Model"></label>
                <br />
                <input type="text" asp-for="Model"/>
                <br />
                <span asp-validation-for="Model" style="color:red;"></span>
                
            </div>          
        </div>
        <div class="device-input">
           <div>
                <label asp-for="PriceInPkr"></label>
                <br />
                <input type="number" asp-for="PriceInPkr"  />
                <br />
                <span asp-validation-for="Model" style="color:red;"></span>
           </div>
          

           <div>
                <label asp-for="PriceinUsd"></label>
                <br />
                <input type="number" asp-for="@priceInUsd" />
                <br />
                <span asp-validation-for="Model" style="color:red;"></span>
           </div>
        
       </div>

       <div class="device-input">
            <div>
                <label asp-for="ReleasedDate"></label>
                <br />
                <input asp-for="ReleasedDate" type="date" />
            </div>
      

            <div>

                <label asp-for="SEO"></label>
                <br />
                <input asp-for="SEO" type="text" />
            </div>
       </div>

        <div class="flex" style="align-items:center;justify-content:space-between;">
            <div>
                <input asp-for="IsActive" type="checkbox" />
                <label asp-for="IsActive"></label>
            </div>
        
            <div>

                <label asp-for="Image"></label>
                <input type="file" asp-for="Image" />
            </div>
       </div>



        <div style="margin-top:1rem;">
            <label asp-for="Description"></label>
            <textarea rows="8" style="resize:none; width:100%;" asp-for="Description"></textarea>
            <span asp-validation-for="Model" style="color:red;"></span>
        </div>



        <div>
            <button type="submit" style="">Update</button>
        </div>
    </div>
    <div class="device-image">
        <img src="@Model.ImageUrl" />
    </div>

</form>
