@model List<GetDevicesModelResponse>

<h3 style="text-align:center;">Explore the @ViewBag.Brand devices listed below.</h3>
<div class="devices-section">
    @foreach (var item in Model)
    {

        <div class="card">
            <a href="/device/@item.BrandSlug/@item.Slug" class="detail-link">
                <div class="card-items">
                    <div class="card-item-img">
                        <img src="@item.ImageUrl" alt="" />
                    </div>

                    <div class="card-items-data">
                        <p>@item.Model</p>
                        <strong> Rs @item.PriceInPKR</strong>

                        <hr class="card-hr" />
                    </div>
                </div>
            </a>
        </div>
    }

</div>


